.configuracoes { 

    padding: 20px; 
  
  } 
  
   
  
  .config-form { 
  
    display: flex; 
  
    flex-direction: column; 
  
  } 
  
   
  
  .config-form label { 
  
    margin-bottom: 10px; 
  
  } 
  
   
  
  .config-form input { 
  
    padding: 8px; 
  
    font-size: 16px; 
  
    margin-top: 5px; 
  
  } 
  
   
  
  .config-form button { 
  
    padding: 10px; 
  
    font-size: 16px; 
  
    background-color: #0D3B66; 
  
    color: white; 
  
    border: none; 
  
    cursor: pointer; 
  
    margin-top: 10px; 
  
  } 
  
   
  
  .config-form .excluir-conta { 
  
    background-color: #F95738; 
  
    margin-top: 20px; 
  
  } 