.login-container { 

    width: 300px; 
  
    margin: 0 auto; 
  
    padding: 20px; 
  
    text-align: center; 
  
  } 
  
   
  
  .login-container h2 { 
  
    margin-bottom: 20px; 
  
  } 
  
   
  
  .login-container form { 
  
    display: flex; 
  
    flex-direction: column; 
  
  } 
  
   
  
  .login-container input { 
  
    margin-bottom: 10px; 
  
    padding: 10px; 
  
    font-size: 16px; 
  
  } 
  
   
  
  .login-container button { 
  
    padding: 10px; 
  
    font-size: 16px; 
  
    background-color: #0D3B66; 
  
    color: #fff; 
  
    border: none; 
  
    cursor: pointer; 
  
  } 
  
   
  
  .botao-login-medico { 
  
    margin-top: 10px; 
  
    background-color: #F95738; 
  
  } 
