/* Prontuario.css */

.prontuario-container {
  width: 80%;
  margin: 0 auto;
}

.prontuarios {
  margin-top: 20px;
}

.prontuario {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.prontuario-info {
  padding: 10px;
}

.info {
  margin-bottom: 8px;
}

.info strong {
  margin-right: 5px;
  font-weight: bold;
}

.info:last-child {
  margin-bottom: 0;
}
