/* App.css */
.app-container {
  position: relative; /* Para permitir o posicionamento absoluto do Header */
  min-height: 100vh; /* Garante que o contêiner ocupa toda a altura da viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Ajusta o alinhamento vertical */
  padding-top: 60px; /* Espaço para o Header */
}

.app-container > * {
  width: 100%; /* Garante que os elementos filhos ocupem toda a largura */
}

/* Estilos específicos para o Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Ajuste conforme necessário */
  background-color: #333; /* Cor de fundo para exemplo */
  color: #fff; /* Cor do texto para exemplo */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Garante que o Header esteja acima dos outros conteúdos */
}
